<%= form_tag "/client/orders", method: :post do %>
  <p>product_id:<input type="text" name="product_id"></p>
  <p>quantity:<input type="text" name="quantity"></p>
  <input type="submit" value="Place your order here">
<% end %>
